*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1400px;
    margin: auto;
}
.header{
    background-color: #497951;
    height: 160px;
    display: flex;
    justify-content: space-between;
    padding: 0px 125px;
    align-items: center;
}
.background-header{
    background-color: #497951;
}
.logo{
    max-width: 150px;
    max-height: 150px;
    display: flex;
    align-items: center;
}
.right-header{
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: #EDEDED;
    border: 1px solid #887F7F;
    padding: 10px 20px 5px 20px;
    border-radius: 4px;
}
.menu-mini li{
    list-style: none;
}
.menu-mini li img{
    max-width: 40px;
}

.menu-mini .action-mini:hover .mini-m{
    display: block;
}
.action-mini{
    position: relative;
}
.mini-m{
    display: none;
    position: absolute;
    width: 170px;
    background-color: #EDEDED;
    border: 1px solid #887F7F;
    border-radius: 12px;
    padding: 15px 5px;
    margin-top: 5px;
}
.mini-m li{
    text-align: center;
    background-color: #CFE6D6;
    border: 1px solid #35916A;
    border-radius: 14px;
    margin: 2px 0px;
}
.mini-m li:hover{
    background-color: #35916A;
    border: 1px solid #175B42;
}
.mini-m li:hover a{
    color: white;
}
.mini-m li a{
    color: black;
    text-decoration: none;
    display: block;
    border-radius: 14px;
}
.avatar{
    width: 50px;
    border: 1px solid #ED9E9E;  
    border-radius: 50%;
}
.nav{
    background-color: #CF973A;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-nav{
    background-color: #CF973A;
}
.nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.nav ul li{
    background-color: #CFE6D6;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #497951;
}
.nav ul li:hover{
    background-color: #35916A;
    border: 1px solid #175B42;
}
.nav ul li a:hover{
    color: white;
}
.nav ul li a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    border-radius: 4px;
}
#search{
    height: 30px;
    border-radius: 4px;
    border: 1px solid #497951;
    color: #35916A;
    font-size: 18px;
    padding: 10px;
}
#search:focus{
    outline: none;
    border: 1px solid #35916A;
}
#submit{
    height: 30px;
    border-radius: 4px;
    background-color: #35916A;
    color: white;
    border: 1px solid #497951;
}
*{
    margin: 0;
    box-sizing: border-box;
}
.background-footer{
    background-color: black;
    color: white;
}
.container{
    max-width: 1400px;
    margin: auto;
}
.footer{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    padding: 40px 100px 40px 100px;
    gap: 50px;
}
.footer h2{
    margin-bottom: 40px;
    padding: 6px 0 5px;
}
.footer p{
    line-height: 30px;
    font-size: 15px;

}
.right-footer a{
    text-decoration: none;
    color: white;
}
.right-footer a:hover{
    color: blue;
}
.logo{
    max-width: 150px;
    max-height: 150px;
    display: flex;
    align-items: center;
}
hr{
    border-color: white;
}